<br>
<h1>List of all parks</h1>

<% @parks.each do |foo| %>
<ul>
 <li><%=link_to foo.name, park_path(foo)%></li>
<li>Location: <%=foo.location %></li>
</ul>

<% end %>

<%= form_tag(parks_search_path) do %>
 <%= text_field_tag :park_name %>
  <%= submit_tag "search" %>
<% end %>