<br>
<h6>This page shows 1 park and its trails</h6>

<h5><%= @park.name %></h5>
<table class="center, striped">
<thead>
<tr>
<th>Name</th>
<th>Length</th>
<th>Difficulty</th>
<th>Rating</th>
<th>Review</th>
</tr>
<% @park.trails.each do |trail| %>
</tr>
</thead>

<tbody>
<tr>
<td><%= trail.name %></td>
<td><%= trail.length %></td>
<td><%= trail.difficulty %></td>
<td><%= trail.rating %></td>
<td><%= link_to "New Review", new_trail_review_url(@trail) %></td>


<% end %>
</tr>
</tbody>
</table>