<br>
<h5>List of all reviews for <%= @trail.name %></h5>
<p><%= link_to "Leave a New Review", new_trail_review_url(@trail) %></p>

<% @reviews.each do |review| %>
<% if review.id != nil %>
  <% if review.trail_id == @trail.id %><br>
    <ul> Here's what <%= @user_reviewed.name %> had to say: </ul>
    <%= review.content %>
    <% else %>
  <% end %><br>
  <% if current_user %>
    <% if current_user.id == review.user_id %>
      <%= link_to "Edit", edit_review_path(review), data: {confirm: "Are you sure?"}, class: "btn btn-primary btn-xs"%>
      <%= link_to 'Delete', review_path(review), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary btn-xs" %>
    <% end %>
  <% else %>
  <% end %>
<% end %>
<% end %>




